html{
    font-size: 62.5%;
}

div{
    height: 100rem;
    background-image: linear-gradient(to right bottom,
    rgba(47, 186, 214, 0.5),
    rgba(97, 71, 189, 0.5)
    ),
    url(Media/City.jpg);
    background-position: center;
    background-size: center;
    height: max-content;
}
div h1{
    text-transform: uppercase;
    font-size: 10rem;
    font-style: italic;
    font-style: oblique;
    text-align: center;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
div{
    font-size: 4rem;
    text-align: center;
    image-resolution: 5rem;
    font-family: cursive;
    font-weight: 10000rem;
    font-style: oblique;
    list-style-type: none;
    border-image: 50rem;
}
#Rick{
    height: 25rem;
    filter: hue-rotate(120deg);
}